{% extends "booker/_booker_base.html" %}

{% block title %}SlamSim! Booker Dashboard{% endblock %}

{% block content %}
    <h2>Booker Dashboard</h2>
    <ul class="booker-menu">
        <li><a href="{{ url_for('news.list_news') }}">News</a></li>
        <li><a href="{{ url_for('wrestlers.list_wrestlers') }}">Wrestlers</a></li>
        <li><a href="{{ url_for('tagteams.list_tagteams') }}">Tag Teams</a></li>
        <li><a href="{{ url_for('belts.list_belts') }}">Belts</a></li>
        <li><a href="{{ url_for('divisions.list_divisions') }}">Divisions</a></li>
        <li><a href="{{ url_for('events.list_events') }}">Events</a></li>
        <li><a href="{{ url_for('goodbye') }}">Exit</a></li>
    </ul>
{% endblock %}

