{% extends "_base.html" %}

{% block title %}SlamSim! Main Menu{% endblock %}

{% block content %}
    <h2>Management</h2>
    <ul class="main-menu">
        <li><a href="{{ url_for('wrestlers.list_wrestlers') }}">Wrestlers</a></li>
        <li><a href="{{ url_for('tagteams.list_tagteams') }}">Tag Teams</a></li>
        <li><a href="{{ url_for('belts.list_belts') }}">Belts</a></li>
        <li><a href="{{ url_for('divisions.list_divisions') }}">Divisions</a></li>
        <li><a href="{{ url_for('events.list_events') }}">Events</a></li>
        <li><a href="{{ url_for('goodbye') }}">Exit</a></li>
    </ul>
{% endblock %}

